# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.StreamLogger.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\jeppe\Documents\Rider Projects\StreamLogger\.idea\.idea.StreamLogger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
